@font-face{
	font-family: webax;
	src: url(fonts/webax.ttf);
}

@font-face{
	font-family: zero;
	src:url(fonts/zero.ttf);
}

@font-face{
	font-family: xat;
	src:url(fonts/xat.ttf);
}

body {
	background-image: url(Images/siteBG.png);
}

.title {
	padding: 15px 0px 0px 0px;
	margin: 0px auto;
	line-height: 1.1;
	font-size: 100px;
	text-align: left;
}

ul{list-style: none;}

a{
	text-decoration: none;
	color: magenta;
}

a.here { /*This is for the page you are on on a highlighted navbar*/
	background-color: rgb(15,135,10,0.5) !important; 
}
a.here:hover{
	background-color: rgb(15,35,10,0.7) !important
}

.p{ /*For paragraphs*/
	line-height: 1.3;
}

.z {
	font-family: zero;
}

.w {
	font-family: webax;
}

.hr {
	margin: 0 auto;
	padding: 0px auto;
	border: solid #fff 5px;
}

.nav{
	display: grid;
	grid-template-columns: repeat(5,20%);
	width: 100%;
	/*top: 0;*/
	margin: 0 auto;

}

.nav a{
	font-family: webax;
	background-color: rgb(0,0,0,0.5);
	text-align: center;
	vertical-align: center;
	font-size: 50px;
	color: white;
	padding: 0px 0px 0px 0px;
}

.nav a:hover{
	background-color: rgb(0,0,0,0.7);
}

.menuList li a{
	font-family: zero;
	line-height: 1.5;
	color: rgb(60,60,60) !important;
}

.ingrainedAd{
	position: relative;
	width: 1000px;
	height: 100px;
	background-color: black;
	align-self: center;
	margin: 0 auto 0 auto;
	top: 260px;

}

#QuadGeneralExpression a{
	font-family: xat;
	color: rgb(25,25,25);
	text-align: center;
	font-size: 60px;
	margin: 0 auto;
}

#Faxpression a{
	font-family: xat;
	color: rgb(25,25,25);
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
}

.tiles label{
	font-size: 45px;
	font-family: zero;
	background-color: black;
	color: white;
	margin: auto;
	line-height: 1;
	padding: 12px 8px 12px 12px;
	display: inline-block;
}

.titleBox { /*For input boxes for numbers*/
	position: relative;
	width: 550px;
	margin: auto;
	padding: 10px 0px 10px 10px;
	left: 10px;
	font-family: webax;
	font-size: 40px;
	overflow: hidden;
}

input::-webkit-outer-spin-button, /*This removes the spinner from number inputs*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::placeholder{color: rgb(200,200,200,0.8);} /*Affects placeholder text in input boxes*/
:-ms-input-placeholder{color: rgb(200,200,200,0.8);}
::-ms-input-placeholder{color: rgb(200,200,200,0.8);}

@keyframes example {
    from {;}
    to {;}
}

.tiles {
	display: inline-block;
	float: left;
	width: 50%;
}

.button1{ /*For polynomial buttons*/
	width: 600px;
	text-align: center;
	background-color: rgb(0,0,0,0);
	display: inline-block;
	position: relative;
	border: 10px solid rgb(30,130,230);
	margin: 0;
}

.button1:hover{ /*For polynomial buttons*/
	border: 10px solid rgb(0,70,170) ;
}